section {
    padding: 20%;
    text-align: center;
}

.vote {
    margin-bottom: 10px;
    width: 55%;
}

/* .sec {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
} */
